In [1]:
people = {
    'first':['Corey','Jane','John'],
    'last':['Schafer','Doe','Doe'],
    'email':['CoreyMSchafer@gmail.com','JaneDoe@email.com','JohnDoe@email.com'],
    
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [11]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
# filt = (df['last'] == 'Doe')

In [12]:
# df['last'] == 'Doe'
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [16]:
df.loc[filt]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [17]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [39]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
# &(and)연산자를 이용해서 2가지 조건을 모두(동시)에 충족시 참(True)과 거짓(False)을 Return

df.loc[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [26]:
filt = (df['last'] == 'Doe') | (df['first'] == 'John')
# |(or)연산자를 이용해서 2가지 조건중 하나라도 만족하면 참(True)과 거짓(False)을 Return


df.loc[filt,'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

### ~(틸드) 연산자를 이용 반대 결과를 추출

In [40]:
filt = (df['last'] == 'Doe') | (df['first'] == 'John')
# 우측 전체를 ~(df........)

df.loc[~filt,'email']
# filt 변수 앞에 ~ 처리를 함

0    CoreyMSchafer@gmail.com
Name: email, dtype: object